name: Deploy APP

on:
  push:
    branches:
      - main  # Change to your preferred branch
  repository_dispatch:
    types: [add_restaurant]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ github.repository }}:${{ github.sha }} ./app
        docker tag ${{ github.repository }}:${{ github.sha }}

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.repository }}:${{ github.sha }} 


