name: Deploy Azure Function for any changes

on:
  push:
    branches:
      - main  # Change to your preferred branch
  repository_dispatch:
    types: [add_restaurant]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANTID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTIONID }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

          
    - name: Install Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.1.7"  # Specify the Terraform version

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan -lock=false
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANTID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTIONID }}

    - name: Terraform Apply
      run: terraform apply -var ssh_key_data="${{ secrets.SSH_PUBLIC_KEY }}" -auto-approve
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANTID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTIONID }}

    - name: Send GitHub Token to Azure Key Vault
      run: |
        echo "Storing GitHub Token in Azure Key Vault..."
        az keyvault secret set \
          --vault-name ${{ secrets.KEY_VAULT_NAME }} \
          --name GITHUB-TOKEN \
          --value ${{ secrets.VARO }}

